/SonsAnimais/nbproject/private/
/SonsAnimais/build/
/ProjetoVeiculo/nbproject/private/
/ProjetoVeiculo/build/
/InstrumentosMusicais/nbproject/private/
/InstrumentosMusicais/build/
/ProjetoFuncionario/nbproject/private/
/ProjetoFuncionario/build/
/ProjetoPagamento/nbproject/private/
/ProjetoPagamento/build/
/ProjetoForma/nbproject/private/
/ProjetoForma/build/
/ProjetoDispositivo/nbproject/private/
/ProjetoDispositivo/build/
/ProjetoTransporte/nbproject/private/
/ProjetoTransporte/build/
/ProjetoPersonagem/nbproject/private/
/Guerreiro/nbproject/private/
/ProjetoPersonagem/build/
/ProjetoProduto/nbproject/private/
/ProjetoProduto/build/
/ProjetoProfissao/nbproject/private/
/Medico/nbproject/private/
/ProjetoNotificacao/nbproject/private/